<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="eStoreG6.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <!-- eStore CSS -->
    <link rel="stylesheet" href="eStoreCss/css/bootstrap.min.css" />
    <link rel="stylesheet" href="eStoreCss/css/font-awesome.min.css" />
    <link rel="stylesheet" href="eStoreCss/css/elegant-icons.css" />
    <link rel="stylesheet" href="eStoreCss/css/nice-select.css" />
    <link rel="stylesheet" href="eStoreCss/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="eStoreCss/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="eStoreCss/css/slicknav.min.css" />
    <link rel="stylesheet" href="eStoreCss/css/style.css" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <HeadOutlet />
</head>

<body>
    <Routes />
    <!-- JS Plugins -->
    <script src="eStorejs/js/jquery-3.3.1.min.js"></script>
    <script src="eStorejs/js/bootstrap.min.js"></script>
    <script src="eStorejs/js/jquery-ui.min.js"></script>
    <script src="eStorejs/js/jquery.slicknav.js"></script>
    @* <script src="eStorejs/js/mixitup.min.js"></script> *@
    <script src="eStorejs/js/owl.carousel.min.js"></script>
    <script src="eStorejs/js/main.js"></script>
    @* <script src="_framework/blazor.web.js"></script> *@
</body>

</html>
